/**
 * Stylesheet zur Klasse App: Hauptstylesheet der Anwendung.
 *
 * Hier sollten nur allgemeine Sachen stehen, die das Layout als Ganzes
 * betreffen. Also solche Dinge wie Schriftart, Schriftgrößen oder Farben.
 * Spezifische Angaben zur Listenübersicht oder dem Eingabeformular gehören
 * stattdessen in das jeweilige Stylesheet.
 */
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* ALLGEMEINES */
html, body {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Rubik", sans-serif;
    font-size: 10pt;
    line-height: 1.6;
}

.hidden {
    display: none;
}

@media (min-width: 40em) {
    html {
        /* http://bg.siteorigin.com/ */

        background-image: url(Hintergrund.jpg) ;

        background-size:cover;
        font-size: 11pt;
    }

    body {

        max-width: auto;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/* NAVIGATION */
nav {
    user-select: none;
    display: flex;
    justify-content: center;
     background-color: Silver;
    color: white;

    border: 0px solid white;
    border-bottom-width: 3px;
    border-top-width: 3px;
    text-align: center;
    font-size: 14pt;
}

nav a,
nav a:visited {
    color: black;
    text-decoration: none;

    display: block;
    padding: 1em;

}
nav a:hover {
   color: white;
}

nav.non-interactive a:hover {
    cursor: default;
}

nav ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: -3px;

    display: flex;
}

nav li.active{

  background-color: LightGray;
}

nav li:hover {
    background-color: DimGray ;
    color: black;

    border: 0px solid black;


}
#Plus{
  height:25pt;


}
